.input-desc-main{
  width: 100%;
  border-radius: var(--radius);
  height: 53px;
  background-color: var(--color-gray-1);
  font-size: var(--size3);
  padding: 0 16px;
  border: none;
  outline: none;
  margin: 13px 0 0 0;
  color: #868E96;
}

.input-desc-main:focus{
  outline: var(--color-brand-1);
}

.labels{
  width: 40%;
}

.input-entrace-data{
  height: 48px;
  width: 40%;
  border-radius: var(--radius);
  background-color: var(--color-gray-1);
  padding: 0 16px;
  color: var(--color-gray-3);
  outline: none;
  font-size: var(--size3);
}

.select-type{
  background-color: var(--color-gray-1);
  height: 48px;
  width: 50%;
  /* color: var(--color-gray-3); */
  border-radius: var(--radius);
  cursor: pointer;
  outline: none;
  padding: 0 16px;
  font-size: var(--size3);
}

.select-type > option{
  height: 40px;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input-container{
  margin: 19px 0;
}